<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
        #response {
          margin: 1em;
          font-size: 14px;
          border: 1px solid #000;
          border-radius: 4px;
          background: #fafafa;
          margin-top: 3em;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <!-- <strong>password</strong>: <%= user.local.password %><br> -->
                        <strong>url</strong>: <%= user.website %>
                    </p>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="form">
                <form>
                  <input type="email" data-ref-email="true" placeholder="Enter Email"/>
                  <input type="email" placeholder="Confirm Email" />
                  <input type="button" data-ref-submit="true" value="Submit">
                </form>
              </div>
        </div>
        
        <div id="response" class="well col-sm-12">
          <h3>Copy the code below and add it to your website</h3>
          <h4> Add <b><i>`data-ref-email="true"'</i></b> and <b><i>`data-ref-submit="true"'</i></b> to email and submit button respectively.</h4>
          <div id="api_code">
              <% if (user) { %>
               <span id="key"> var API_KEY = <%- JSON.stringify(user._id) %>;</span> 
               <span id="code"></span>
              <% } %>
          </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
      var API_KEY = "5adf49bdf5f2348ce604eabd"; !function(){var e=document.querySelector("[data-ref-email=true]"),t=document.querySelector("[data-ref-submit=true]"),o=window.location.href.split("?")[1],n=null;o&&-1!==o.indexOf("referral")&&o.split("&").map(e=>{var t=e.split("="),o={};return o[t[0]]=t[1],"referral"===t[0]&&(n=t[1]),o}),console.log(t,e),t.onclick=function(t){t.preventDefault(),function(){var t=new XMLHttpRequest;t.onreadystatechange=function(e){if(console.log(e),4==this.readyState&&200==this.status){document.getElementById("response").innerHTML=t.responseText;var o=JSON.parse(t.responseText),n=o.refcode,l=o.msg;!function(e,t){var o=document.createElement("div");o.innerHTML='<div id="refModal" class="modal"><div class="modal-content"><div class="referral-txt" id="main-content"></div><div class="referral-btn text-right" id="main-actions"><button class="btn btn-secondary" id="closeModal">Close</button><button class="btn btn-primary" id="copyReferralCode">Copy</button></div></div></div>',document.body.appendChild(o),function(e){var t=document.createElement("style");t.type="text/css",t.styleSheet?t.styleSheet.cssText=e:t.innerHTML=e;document.getElementsByTagName("head")[0].appendChild(t)}(".modal{display:none;/*Hiddenbydefault*/position:fixed;/*Stayinplace*/z-index:1;/*Sitontop*/padding-top:100px;/*Locationofthebox*/left:0;top:0;width:100%;/*Fullwidth*/height:100%;/*Fullheight*/overflow:auto;/*Enablescrollifneeded*/background-color:rgb(0,0,0);/*Fallbackcolor*/background-color:rgba(0,0,0,0.4);/*Blackw/opacity*/}/*ModalContent*/.modal-content{background-color:#fefefe;margin:auto;padding:20px;border:1pxsolid#888;width:80%;}/*TheCloseButton*/.close{color:#aaaaaa;float:right;font-size:28px;font-weight:bold;}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;}button{margin: 8px;}"),document.getElementById("main-content").innerHTML="<h2> "+e+" <input type='text' id='referralUrl' value='"+t+"' /></h2>";var n=document.getElementById("refModal"),l=document.getElementById("closeModal"),a=document.getElementById("copyReferralCode");n.style.display="block",l.onclick=function(){n.style.display="none"},a.onclick=function(){!function(){var e=document.getElementById("referralUrl");e.select(),document.execCommand("Copy"),console.log(e.value)}()}}(l,n)}},t.open("POST","/notes",!0),t.setRequestHeader("Content-type","application/json");var o={key:API_KEY,email:e&&e.value,referredBy:n};t.send(JSON.stringify(o))}()}}();
    </script>
    <script>
        var code  = `!function(){var e=document.querySelector("[data-ref-email=true]"),t=document.querySelector("[data-ref-submit=true]"),o=window.location.href.split("?")[1],n=null;o&&-1!==o.indexOf("referral")&&o.split("&").map(e=>{var t=e.split("="),o={};return o[t[0]]=t[1],"referral"===t[0]&&(n=t[1]),o}),console.log(t,e),t.onclick=function(t){t.preventDefault(),function(){var t=new XMLHttpRequest;t.onreadystatechange=function(e){if(console.log(e),4==this.readyState&&200==this.status){document.getElementById("response").innerHTML=t.responseText;var o=JSON.parse(t.responseText),n=o.refcode,l=o.msg;!function(e,t){var o=document.createElement("div");o.innerHTML='<div id="refModal" class="modal"><div class="modal-content"><div class="referral-txt" id="main-content"></div><div class="referral-btn text-right" id="main-actions"><button class="btn btn-secondary" id="closeModal">Close</button><button class="btn btn-primary" id="copyReferralCode">Copy</button></div></div></div>',document.body.appendChild(o),function(e){var t=document.createElement("style");t.type="text/css",t.styleSheet?t.styleSheet.cssText=e:t.innerHTML=e;document.getElementsByTagName("head")[0].appendChild(t)}(".modal{display:none;/*Hiddenbydefault*/position:fixed;/*Stayinplace*/z-index:1;/*Sitontop*/padding-top:100px;/*Locationofthebox*/left:0;top:0;width:100%;/*Fullwidth*/height:100%;/*Fullheight*/overflow:auto;/*Enablescrollifneeded*/background-color:rgb(0,0,0);/*Fallbackcolor*/background-color:rgba(0,0,0,0.4);/*Blackw/opacity*/}/*ModalContent*/.modal-content{background-color:#fefefe;margin:auto;padding:20px;border:1pxsolid#888;width:80%;}/*TheCloseButton*/.close{color:#aaaaaa;float:right;font-size:28px;font-weight:bold;}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;}button{margin: 8px;}"),document.getElementById("main-content").innerHTML="<h2> "+e+" <input type='text' id='referralUrl' value='"+t+"' /></h2>";var n=document.getElementById("refModal"),l=document.getElementById("closeModal"),a=document.getElementById("copyReferralCode");n.style.display="block",l.onclick=function(){n.style.display="none"},a.onclick=function(){!function(){var e=document.getElementById("referralUrl");e.select(),document.execCommand("Copy"),console.log(e.value)}()}}(l,n)}},t.open("POST","/notes",!0),t.setRequestHeader("Content-type","application/json");var o={key:API_KEY,email:e&&e.value,referredBy:n};t.send(JSON.stringify(o))}()}}(); `
        document.getElementById('code').innerText = code;  
      </script>
</body>
</html>